@font-face {
    font-family: 'volkhovregular';
    src: url('custom_fonts/volkhov-regular-webfont.woff2') format('woff2'),
         url('custom_fonts/volkhov-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'volkhovregular';
}

#form-wrapper {
    display: flex;
    width: 100%;
}

.primary {
    display: block;
    margin: 0;
}

.form-item {
    margin-right: 4vw;
}