@font-face {
    font-family: 'volkhovregular';
    src: url('custom_fonts/volkhov-regular-webfont.woff2') format('woff2'),
         url('custom_fonts/volkhov-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'volkhovregular';
    margin: 0;
}

#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}

#app > header {
    grid-area: header;
    background-color: brown;
}

#header-form {
    background-color: yellow;
}

#app > main {
    grid-area: main;
    overflow: auto;
    padding: 15px 5px 10px 5px;
}

#app > footer {
    grid-area: footer;
    background-color: brown;
}

#form-wrapper {
    display: flex;
    width: 100%;
}

.primary {
    display: block;
    margin: 0;
}

.form-item {
    margin-right: 4vw;
}